
.menu li{
	font-family:NassimArabic-Regular , tahoma , arial ;
}

.menu li a{
	font-size:1.1em ;
	padding: 10px 10px;
}



.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}






@media screen {
	#cccfixeddiv{
		margin-top:3px;
		padding:10px;
		border: 1px solid #ccc;
		background: #eee;
		background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(224,224,224,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(224,224,224,1)));
		background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%);
		background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%);
		background: linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%);
		z-index: 600;
		position:fixed;
		width:100%;
	}

}


 

@media print {
	.screenonly,.np
	{
		display:none !important;
	}
	
	.np
	{
		display:none;
	}
	div#spinner
	{
		display: none;
	}
	
	table.striped , table.striped thead th {border: 1px solid #000000;border-collapse: collapse;}
	.tight td {
		border: 1px solid #000000;
	}
}




.uifont{
	font-size:20px !important;
	font-family: 'mothnna' ,'F-DFont' , 'GE SS' ,'F-DFontSmall' , NassimArabic-Regular3 , ftl , NassimArabic-Regular , NassimArabic-Regular2 , arial !important;
	line-height:40px;
}

.uifont20{
	font-size:20px !important;
	font-family:  'NassimArabic-Semibold' ,ftl ,'mothnna' ,'F-DFont' , 'GE SS' ,'F-DFontSmall' , NassimArabic-Regular , NassimArabic-Regular2 , arial !important;
	line-height:22px;
}

.uifont18{
	font-size:18px !important;
	font-family:  'NassimArabic-Semibold' ,ftl ,'mothnna' ,'F-DFont' , 'GE SS' ,'F-DFontSmall' , NassimArabic-Regular , NassimArabic-Regular2 , arial !important;
	line-height:30px;
}


.uifont16{
	font-size:16px !important;
	font-family:  'NassimArabic-Semibold' ,ftl ,'mothnna' ,'F-DFont' , 'GE SS' ,'F-DFontSmall' , NassimArabic-Regular , NassimArabic-Regular2 , arial !important;
	line-height:18px;
}

.uifont14{
	font-size:14px !important;
	font-family:  'NassimArabic-Semibold' ,ftl ,'mothnna' ,'F-DFont' , 'GE SS' ,'F-DFontSmall' , NassimArabic-Regular , NassimArabic-Regular2 , arial !important;
	line-height:16px;
}

.uifont12{
	font-size:12px !important;
	font-family:  'NassimArabic-Semibold' ,ftl ,'mothnna' ,'F-DFont' , 'GE SS' ,'F-DFontSmall' , NassimArabic-Regular , NassimArabic-Regular2 , arial !important;
	line-height:16px;
}

.uibodyfont{
	font-size:22px !important;
	font-family:  'NassimArabic-Semibold' ,ftl ,'mothnna' ,'F-DFont' , 'GE SS' ,'F-DFontSmall' , NassimArabic-Regular , NassimArabic-Regular2 , arial !important;
	line-height:30px;
}


.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

 


.ui-button-text-only .ui-button-text {
	padding: 0em 0.5em !important;
}

.tablefont1818 , .tablefont1818  td,.tablefont1818  th,.tablefont1818  a{
	font-size:18px !important;
	font-family: 'NassimArabic-Semibold' , 'mothnna' ,'F-DFont' , 'GE SS' ,'F-DFontSmall' , NassimArabic-Regular3 , ftl , NassimArabic-Regular , NassimArabic-Regular2 , arial !important;
	line-height:18px;
}
.bluefont , .bluefont  td,.bluefont  th,.bluefont  a{ color: #215488 ;}
.tablefont18  td,.tablefont18  th,.tablefont18  a{
	font-size:18px !important;
	font-family: 'mothnna' ,'F-DFont' , 'GE SS' ,'F-DFontSmall' , NassimArabic-Regular3 , ftl , NassimArabic-Regular , NassimArabic-Regular2 , arial !important;
	line-height:30px;
}

.ui-dialog-title , .tablefont16  td,.tablefont16  th,.tablefont16  a{
	font-size:16px !important;
	font-family: 'mothnna' ,'F-DFont' , 'GE SS' ,'F-DFontSmall' , NassimArabic-Regular3 , ftl , NassimArabic-Regular , NassimArabic-Regular2 , arial !important;
	line-height:18px;
}

.tablefont14  td,.tablefont14  th,.tablefont14  a{
	font-size:14px !important;
	font-family: 'mothnna' ,'F-DFont' , 'GE SS' ,'F-DFontSmall' , NassimArabic-Regular3 , ftl , NassimArabic-Regular , NassimArabic-Regular2 , arial !important;
	line-height:16px;
}



.success {
    background: #a5e283;
    boxrder: #337f09 1px solid;
    padding: 5px;
}

.error {
    border: red 0px solid;
    padding: 5px;
    background-color:#FFE5E5;
    oxutline: 1px solid red;
}

.error input{
	background: #ffff00;
}

.ajaxlabel{
	display:inline  !important;
}

.cnmenu{
	display:block;
	color:#000000 !important;
}


.biginput{
	font-size:18px !important;
	font-family: 'mothnna' ,'F-DFont' , 'GE SS' ,'F-DFontSmall' , NassimArabic-Regular3 , ftl , NassimArabic-Regular , NassimArabic-Regular2 , arial !important;
	line-height:30px;
 }

 
.overlay {  
    position:absolute !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    height:100% !important;
    z-index:1000 !important;
}

.normaloverlay
{
    height:600px;
}


.full-screen-btn
{
    position:absolute !important;
    top:85px !important;
    left:150px !important;
    z-index:1100 !important;  
}


@media all and (min-width: 480px) and (max-width: 768px) {
	.iconcolmn{
		float:right !important;
		width:auto  !important;
	}
}

@media all and (max-width: 480px) {
	.iconcolmn{
		float:right !important;
		width:auto  !important;
	}
}

.hide{
	display:none ;
}

.forcehide{
	display:none !important;
}

a.btn:visited, a.button, a.button:visited{
	vertical-align: top !important;
}

.redtext{
	color:red !important;
}
.bluetext{
	color:#0099FF !important;
}

.greentext{
	color:rgb(25, 107, 8) !important;
}

body{
	background-color:#CECECE;
}

td img {
width: 100%;
max-width:700px !important;
 clear:both;
}

#FullScreenMap{
display:none;
}
.gm-style-iw{
    height: 100% !important;
    overflow: hidden !important;
}
.screenonlyonly{
	display:none;
}

.striped  {
    width: 100%;
    margin: 0 0 10px 0;
    border-collapse: collapse;
}

.center{
	text-align: center;
}

thead { display: table-header-group }
tfoot { display: table-row-group }
tr { page-break-inside: avoid }

.sharebtn,.pdfbtn{    
	height: 40px;
    vertical-align: bottom;
}

.sendmailbtn{    
	height: 40px;
    vertical-align: bottom;
}